<%= simple_form_for(@admin_debt_notification) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :sent_on %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
