<h3><%= link_to 'Opportunities', admin_opportunities_path %></h3>
<% opportunities = Opportunity.approved.first(5) %>
<% opportunities.each do |opportunity| %>
  <p><%= link_to opportunity.title, admin_opportunity_path(opportunity) %></p>
<% end %>

<% if opportunities.empty? then %>
  <div>
    <%= display_block("No Opportunities", false) %>
  </div>
<% end %>

<% if can? :create, Opportunity %>
  <br />

  <% opportunity_text = '<i class="fa fa-plus"></i> Add Opportunity'.html_safe %>
  <%= link_to opportunity_text, new_admin_opportunity_path, :class => "btn btn-small" %>
<% end %>