<% content_for :head do %>
  <%= stylesheet_link_tag    "admin/dashboard", :media => "all" %>
<% end %>

<% @title = 'Dashboard' %>

<%# show an alert if the user hasn't filled in their name or phone number %>
<% if not current_user.has_basic_details? %>
  <p class="alert">
    <i class="fa fa-exclamation-sign fa-large"></i>
    You haven't set your name yet. Please click <%= link_to 'here', edit_admin_user_path(current_user) %>.
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </p>
<% elsif not(current_user.phone_number) || current_user.phone_number.empty? %>
  <p class="alert">
    <i class="fa fa-exclamation-sign fa-large"></i>
    You haven't set your phone number yet. Please click <%= link_to 'here', edit_admin_user_path(current_user) %>.
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </p>
<% end %>

<h1>Bedlam Dashboard</h1>

<div class="dashboard">

  <% if can? :manage, :jobs %>
    <% if not delayed_job_running? then %>
      <div class="alert alert-error">
        <strong>Oh Dear</strong>
        <p>
          The DelayedJob daemon doesn't seem to be running. It may have
          crashed (again).
        </p>
      </div>
    <% end %>

    <% if delayed_jobs(:failed).count > 0 then %>
      <div class="alert alert-error">
        <strong>Stop. This is important</strong>
        <p>
          A DelayedJob has failed. Please review <%= link_to 'failed jobs', admin_jobs_path(:action => "failed") %>.
        </p>
      </div>
    <% end %>
  <% end %>

  <div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
        <%= dashboard_widget('news') %>
      </li>

      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
        <%= dashboard_widget('shows') %>
      </li>

      <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
        <%= dashboard_widget('proposals') %>
      </li>

      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
        <%= dashboard_widget('staffings') %>
      </li>

      <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
        <%= dashboard_widget('opportunities') %>
      </li>

      <li data-row="3" data-col="1" data-sizex="1" data-sizey="2">
        <%= dashboard_widget('resources') %>
      </li>

      <li data-row="3" data-col="2" data-sizex="1" data-sizey="2">
        <%= dashboard_widget('card_number') %>
      </li>

      <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
        <%= dashboard_widget('debt') %>
      </li>

      <% if can? :manage, Delayed::Backend::ActiveRecord::Job %>
      <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
        <%= dashboard_widget('delayed_jobs') %>
      </li>
      <% end %>

      <% if can? :read, :reports %>
      <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <h3><%= link_to 'Reports', admin_reports_path %></h3>
        <% list_reports.each do |report| %>
          <p><%= link_to report.humanize.titleize, admin_report_path(report) %></p>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
