<% @hide_alert = true %>
<% @hide_cookie_notice = true %>

<% content_for :head do %>
  <%= stylesheet_link_tag "login", :media => "all" %>
<% end %>

<div class="container">
  <div id="login_form" class="row">
    <div class="span4 offset4">
      <h2>Forgot your password?</h2>

      <hr />

      <% flash.each do |key, msg| %>
      <% case key                       %>
      <% when :alert                    %>
      <%   alertclass = "alert-error"   %>
      <% when :success                  %>
      <%   alertclass = "alert-success" %>
      <% when :notice                   %>
      <%   alertclass = "alert-info"    %>
      <% end %>
      <p id="<%= key %>" class="alert <%= alertclass %>">
        <%= msg %>
      </p>
      <hr />
      <% end %>

      <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :email, :required => false, :autofocus => true, :wrapper => :prepend do %>
          <span class="add-on"><i class="fa fa-envelope"></i></span><%= f.input_field :email %>
        <% end %>

        <div class="form-actions">
          <%= button_tag(type: 'submit', class: "btn") do %>
            <i class="fa fa-ok"></i> Reset Password
          <% end %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>