<% @hide_cookie_notice = true %>
<% @hide_alert = true %>

<div style="text-align: center;">
<%= image_tag "HAL9000.png", :style => "width: 250px;" %>
<p style="margin-top:20px;">
  <b style="font-size: large; color: #dc143c;">I'm sorry <%= current_user.present? ? current_user.first_name : "" %>, I can't let you do that.</b>
</p>
<p><%= notice %></p>
<p>
  If you think you have been sent here by mistake, please contact the <%= mail_to @support_email, 'Bedlam IT Systems Manager' %>.
</p>
<p>
  HAL is Watching.
</p>
</div>