
<% @title = 'Maintenance Debts' %>

<% prefix = params.length>3 ? "Searching" : "Listing" %>

<h1><%= prefix %> Maintenance Debts</h1>

<% if can? :manage, Admin::MaintenanceDebt %>
        <div class="row">
          <div class="span12">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#search_container">
                  <i class="fa fa-chevron-down"></i> Search Form
                </a>
              </div>
              <div id="search_container" class="accordion-body collapse">
                <div class="accordion-inner">
                  <%= form_tag admin_maintenance_debts_path , :method => :get do %>
                      First Name :<%= text_field_tag :user_fname %>
                      Second Name :<%= text_field_tag :user_sname %>
                      Show : <%= text_field_tag :show_name %>

                      <%= submit_tag "Search", class: 'btn' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
<% end %>

<table class="table">
  <tbody>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Show</th>
    <th>Due Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @mdebts.each do |mdebt| %>

      <tr<%= " class = error" if Date.current > mdebt.due_by %>>
        <td><%= mdebt.user.email %></td>
        <td><%= "#{mdebt.user.first_name} #{mdebt.user.last_name}" %></td>
        <td><%= mdebt.show.name %></td>
        <td><%= mdebt.due_by %></td>

        <td>
          <% if can? :edit, mdebt %>
              <%= link_to 'Change Deadline', edit_admin_maintenance_debt_path(mdebt), class: "btn" %>
          <% end %>
        </td>

        <td>
          <% if can? :edit, mdebt %>
              <%= link_to convert_to_staffing_debt_admin_maintenance_debt_path(mdebt.id), :method => :put, class: "btn" do %>
                  Convert To Staffing
              <% end %>
          <% end %>
        </td>

        <td>
          <% if can? :delete, mdebt %>
              <%= link_to 'Destroy', admin_maintenance_debt_path(mdebt), method: :delete, class: "btn btn-danger", data: {confirm: "Deleting " + mdebt.user.name + "'s debt",
                                                                                                                          detail: "If you delete a debt a theatre manager fairy dies",
              } %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="paginate_holder">
  <%= will_paginate(@mdebts) %>
</div>

<% if can? :create, Admin::MaintenanceDebt %>
    <%= link_to 'Create Maintenance Obligation', new_admin_maintenance_debt_path, class: "btn" %>
<% end %>

<br>
