<h1>Questionnaires</h1>

<div class="accordion" id="shows_current_accordion">
  <% @admin_questionnaires_questionnaires.each do |show, questionnaires| %>
    <div class="accordion-group">
      <% div_name = show.name.downcase.gsub(/[^a-zA-Z0-9\-]/,'') + "_table" %>
      <div class="accordion-heading">
        <a href="#<%= div_name %>" class="accordion-toggle" data-toggle="collapse" style="display: inline-block;">
          <%= show.name %>
        </a>
      </div>

      <div id="<%= div_name %>" class="accordion-body collapse" style="padding: 0px 10px;">
        <table class="table">
          <tr>
            <th>Questionnaire</th>

            <% if can? :read, Admin::Questionnaires::Questionnaire %>
            <th></th>
            <% end %>

            <% if can? :edit, Admin::Questionnaires::Questionnaire %>
            <th></th>
            <% end %>

            <% if can? :delete, Admin::Questionnaires::Questionnaire %>
            <th></th>
            <% end %>
          </tr>

        <% questionnaires.each do |questionnaire| %>
          <tr>
            <td><%= link_to questionnaire.name, answer_admin_questionnaires_questionnaire_path(questionnaire), :title => "Answer Questionnaire" %></td>

            <% if can? :read, questionnaire %>
            <td><%= link_to 'View', admin_questionnaires_questionnaire_path(questionnaire) %></td>
            <% end %>

            <% if can? :edit, questionnaire %>
            <td><%= link_to 'Edit', edit_admin_questionnaires_questionnaire_path(questionnaire) %></td>
            <% end %>

            <% if can? :delete, questionnaire %>
            <td><%= link_to 'Destroy', questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>

<br />

<% if can? :create, Admin::Questionnaires::Questionnaire %>
  <p>You can create a questionnaire for a show by going to the admin page for that show, and clicking "Add Questionnaire"</p>
<% end %>
