<% content_for :content do %>
  <div class="row">
    <div class="span3">
      <ul class="nav nav-list well">
        <li><%= link_to 'Get Involved', get_involved_path('index') %></li>
        <% @subpages.each do |page| %>
          <li><%= link_to @alias[page] || page.humanize.titleize, get_involved_path(@root_page ? @root_page + "/" + page : page) %></li>
        <% end %>
      </ul>
    </div>
    <div class="span9">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>